# colors: normal, black, red, green, yellow, blue, magenta, cyan, white
# attributes: bold, dim, ul (underline), blink, reverse (swap foreground and background)

# green  = 34
# orange = 166
# pink   = 163
# purple = 55
# yellow = 11
# red    = 9

[color]
  branch      = true
  diff        = true
  status      = true
  interactive = true
  showbranch  = true
  ui          = true

[color "status"]
  added     = 34
  changed   = 166 bold
  untracked = 34 bold

[color "branch"]
  remote  = cyan bold
  local   = 55
  current = 34 bold

[color "diff"]
  frag = cyan bold
  meta = 55 bold
  old  = red bold
  new  = 34 bold

[log]
  # date = short

[github]
  user = brookekfox

[alias]
  branch-name  = "!git rev-parse --abbrev-ref HEAD"
  # branches     = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
  branches     = "git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'"
  aliases      = "!git config -l | grep alias | cut -c 7-"
  st           = status
  co           = checkout
  cob          = checkout -b
  cm           = commit -m
  cmdev        = "!git commit -m 'updating submodule hash'"
  cmb          = "!git commit -m 'updating submodule hash and rebuild'"
  c            = commit
  a            = add
  aa           = add .
  pom          = pull origin master
  com          = checkout master
  cof          = checkout -- #checkout file FILEPATH
  cp           = cherry-pick
  br           = branch
  hist         = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  f            = fetch --all
  smup         = submodule update --init --recursive
  reset        = reset --hard
  undo-commits = reset --soft HEAD
  combine-all  = "!git reset --soft HEAD && git commit" #combine all commits into a single commit
  l            = log --pretty=format:"%C(55)%h\\ %ad%C(163)%d\\ %Creset%s%C(34)\\ [%cn]" --decorate --date=short
  loll         = log --graph --decorate --pretty=oneline --abbrev-commit
  one          = log --pretty=oneline
  me           = log --author=\"Brooke Fox\"
  dm           = diff master
  wc           = whatchanged
  files        = diff --name-status master
  u            = "!git pull origin $(git branch-name) && git fetch --all && git submodule update --init --recursive"
  pullbr       = "!git fetch --all && git pull origin $(git branch-name)"
  update       = "!git fetch --all && git reset --hard origin/$(git branch-name)"
  merge        = merge --no-ff
  behind       = "!git rev-list --left-right --count master"

[merge]
  tool = kdiff3

[diff]
  tool = kdiff3

[user]
  name = Brooke Fox
	email = brooke.fox@aofl.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
